Adibrata.Framework.Messaging/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adibrata.Framework.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adibrata.Framework.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="PathDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DPI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocTransBinaryID" type="xs:long" />
      <xs:element minOccurs="0" name="DocTransID" type="xs:long" />
      <xs:element minOccurs="0" name="FileBinary" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pixel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeFileBytes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathDetails" nillable="true" type="tns:PathDetails" />
</xs:schema>