Adibrata.Framework.Messaging/Service References/ServiceWCF/ServiceWCF1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Adibrata.WCF/ServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Adibrata.WCF/ServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Adibrata.WCF/ServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adibrata.WCF" />
      <xsd:import schemaLocation="http://localhost/Adibrata.WCF/ServiceWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCF_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_ArchieveExecutionProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchieveExecutionProcess" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_ArchieveExecutionProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchieveExecutionProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DocTransInquiryDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTransInquiryDetail" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DocTransInquiryDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTransInquiryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DocTransContentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTransContentDetail" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DocTransContentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTransContentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DocTransGetTransID_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTransGetTransID" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DocTransGetTransID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTransGetTransIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_UpdatePathDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePathDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_UpdatePathDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePathDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCF">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/GetData" message="tns:IServiceWCF_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/GetDataResponse" message="tns:IServiceWCF_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/GetDataUsingDataContract" message="tns:IServiceWCF_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/GetDataUsingDataContractResponse" message="tns:IServiceWCF_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchieveExecutionProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/ArchieveExecutionProcess" message="tns:IServiceWCF_ArchieveExecutionProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/ArchieveExecutionProcessResponse" message="tns:IServiceWCF_ArchieveExecutionProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTransInquiryDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/DocTransInquiryDetail" message="tns:IServiceWCF_DocTransInquiryDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/DocTransInquiryDetailResponse" message="tns:IServiceWCF_DocTransInquiryDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTransContentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/DocTransContentDetail" message="tns:IServiceWCF_DocTransContentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/DocTransContentDetailResponse" message="tns:IServiceWCF_DocTransContentDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTransGetTransID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/DocTransGetTransID" message="tns:IServiceWCF_DocTransGetTransID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/DocTransGetTransIDResponse" message="tns:IServiceWCF_DocTransGetTransID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePathDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/UpdatePathDetails" message="tns:IServiceWCF_UpdatePathDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/UpdatePathDetailsResponse" message="tns:IServiceWCF_UpdatePathDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCF" type="tns:IServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchieveExecutionProcess">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/ArchieveExecutionProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTransInquiryDetail">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/DocTransInquiryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTransContentDetail">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/DocTransContentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTransGetTransID">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/DocTransGetTransID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePathDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/UpdatePathDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWCF">
    <wsdl:port name="BasicHttpBinding_IServiceWCF" binding="tns:BasicHttpBinding_IServiceWCF">
      <soap:address location="http://localhost/Adibrata.WCF/ServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>