Adibrata.Framework.Messaging/Service References/ServiceReference3/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adibrata.Framework.WCF.DocTransView" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adibrata.Framework.WCF.DocTransView" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="DocTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContenValueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentSearchTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentValueNumeric" type="xs:decimal" />
      <xs:element minOccurs="0" name="DPI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocTransBinaryId" type="xs:long" />
      <xs:element minOccurs="0" name="DocTransCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocTransContentId" type="xs:long" />
      <xs:element minOccurs="0" name="DocTransID" type="xs:long" />
      <xs:element minOccurs="0" name="DocTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtmCrt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DtmUpd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileBinary" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pixel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeFileBytes" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsrCrt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsrUpd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocTrans" nillable="true" type="tns:DocTrans" />
</xs:schema>